<!-- articles -->

<h1>Listing Articles</h1>


	<table border=1 class="table">
		<tr>
			<th>Title</th>
			<th>Text</th>
		</tr>
	<% @articles.each do |article| %>

	<tr>
		<td><%= article.title %></td>
		<td><%= article.text %></td>
		<td><%= link_to 'Show', article_path(article), class: "small button"%></td>
	</tr>
	<% end %>
</table>
<%= link_to 'Back', {controller: 'welcome'} , class:"big button" %>

<%= link_to 'New Article', new_article_path, class:"big button" %>

